body {
    height: 695px;
    width: 965px;
    padding-left: 0px;
    margin-right: 15px;
    position: relative;
    border: solid #3b5999;
}

#mainHeader {
    position: absolute;
    padding: 3px;
    margin: 0px;
}

#headerImage {
    position: relative;
    display: block;
    margin: 0 auto;
}

#loginButton {
    background-color: #3b5999;
    position:absolute;
    margin-left: 50.8%;
    margin-top: -2.4%;
    padding: 0.3%;
    color: white;
    cursor: pointer;
}

#registerButton {
    background-color: #3b5999;
    position:absolute;
    margin-left: 55.85%;
    margin-top: -2.45%;
    padding: 0.4%;
    color: white;
    cursor: pointer;
}

#aboutButton {
    background-color: #3b5999;
    position:absolute;
    margin-left: 62.85%;
    margin-top: -2.45%;
    padding: 0.4%;
    color: white;
    cursor: pointer;
}


#loginPart {
    position: absolute;
    margin-top: 150px;
    border: dashed thin #3b5999;
    margin-left: 1px;
}

#register2Button {
    color: white;
    background-color: #3b5999;
    cursor: pointer;
    position: relative;
    margin-left: 20%;
}

#login2Button {
    color: white;
    background-color: #3b5999;
    cursor: pointer;
    position: relative;
}

#emailInputArea {
    position: relative;
    margin-left: 130px;
}

#passwordInputArea {
    position: relative;
    margin-left: 107px;
}

#welcomeDiv {
    position: absolute;
    margin-top: 105px;
    margin-left: 185px;
    width: 781px;
    border: solid thin #3b5999;
    padding-bottom: 35px;
}

#welcomeTextHeader {
    background-color:  #3b5999;
    height: 25px;
    color: white;
    font-weight: bold;
}

#welcomeText {
    position: relative;
    color: white;
    font-weight:bold;
    padding-top: 3px;
    margin-left: 2px;
}

#welcomeTextHeader2 {
    position: absolute;
    margin-left: 30%;
    margin-top: 50px;
    font-weight: bold;
    font-size: 28px;
    display:block;
}

#descriptionText1 {
    margin-top: 15px;
}

#descriptionText2 {
    margin-top: 15px;
}

#descriptionText3 {
    margin-top: 15px;
}

#descriptionText4 {
    margin-top: 15px;  
}

#descriptionText5 {
    margin-top: 15px
}

#descriptionDiv {
    position: relative;
    margin-top: 75px;
    font-size: 21px;
    margin-left: 20px;
}

#register3Button {
    margin-left: 335.5px;
    background-color: #538adc;
    color: white;
    border-color: #538adc;
    cursor: pointer;
}

#login3Button {
    background-color: #538adc;
    color: white;
    border-color: #538adc;
    cursor: pointer;
}

#openSpaceLoginPart {
    margin-bottom: 15px;
}

#bottomHeader {
    position: absolute;
    margin-top: 610px;
    margin-left: 350px;
}

#aboutButton2 {
    position: relative;
    background-color: transparent;
    color: #538adc;
    cursor: pointer;
}

#contactButton {
    position: relative;
    background-color: transparent;
    color: #538adc;
    cursor: pointer;
}

#faqButton {
    position: relative;
    background-color: transparent;
    color: #538adc;
    cursor: pointer;
}

#termsButton {
    position: relative;
    background-color: transparent;
    color: #538adc;
    cursor: pointer;
}

#privacyButton {
    position: relative;
    background-color: transparent;
    color: #538adc;
    cursor: pointer;
}